<div class="groupsSection">
    <div class="groupAccess">
        <button ng-disabled="vm.creatingNewGroup" ng-click="vm.startCreateGroup()">Create new group</button>
        <h3>Search for groups</h3>
        <form id="group-search-form" class="groupSearchForm" ng-submit="vm.searchForGroups()">
            <input id="group-search-form-input" ng-model="vm.searchString" placeholder="Search for..." class="groupSearchFormInput">
            <input id="group-search-form-button" type="submit" value="Search" class="button groupSearchFormButton">
        </form>
        <div class="groupSearchResults">
            <ul>
                <li class="groupSearchItem" ng-repeat="searchResult in vm.searchResults track by searchResult.id">
                    {{searchResult.name}} <a href="" ng-click="vm.viewGroup(searchResult)">(View)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="verticalDivider"></div>
    <div class="groupDetailsSection">
        <div class="newGroupForm" ng-if="vm.creatingNewGroup">
            <fieldset class="groupEditInfo">
                <p>Group name: <input type="text" ng-model="vm.editName"/></p>
                <p>Group description:<br/>
                <textarea ng-model="vm.editDescription" class="groupEditDescription"></textarea></p>
            </fieldset>
            <div class="groupEditOptions">
                <button ng-disabled="vm.savingEdits" ng-click="vm.saveEditGroup()">{{vm.savingEdits ? "Creating..." : "Create"}}</button>
                <button ng-click="vm.cancelEditGroup()">Cancel</button>
            </div>
        </div>
        <div class="groupDetails" ng-if="vm.currentGroup && !vm.creatingNewGroup">
            <div ng-show="!vm.editing">
                <div class="groupInfo">
                    <h1>{{vm.currentGroup.name}}</h1>
                    <div class="groupDescription">
                        {{vm.currentGroup.description}}
                    </div>
                </div>
                <div class="groupOptions">
                    <!-- These items only visible if user is not a member of the group -->
                    <button ng-show="!vm.isInGroup(vm.currentGroup)" ng-click="vm.joinGroup(vm.currentGroup.id)">Join group</button>
                    <!-- These items only visible if user is a member of the group -->
                    <button ng-show="vm.isInGroup(vm.currentGroup)" ng-click="vm.startEditGroup()">Edit group</button>
                    <button ng-show="vm.isInGroup(vm.currentGroup)" ng-click="vm.leaveGroup(vm.currentGroup.id)">Leave group</button>
                </div>
            </div>
            <div ng-show="vm.editing">
                <fieldset class="groupEditInfo">
                    <p>Group name: <input type="text" ng-model="vm.editName"/></p>
                    <p>Group description:<br/>
                    <textarea ng-model="vm.editDescription" class="groupEditDescription"></textarea></p>
                </fieldset>
                <div class="groupEditOptions">
                    <button ng-disabled="{{vm.savingEdits}}" ng-click="vm.saveEditGroup()">{{vm.savingEdits ? "Saving..." : "Save"}}</button>
                    <button ng-click="vm.cancelEditGroup()">Cancel</button>
                </div>
            </div>
            <div ng-hide="vm.creatingNewGroup" class="groupMembers">
                <h3>Group members</h3>
                <ul>
                    <!-- This item only visible if user is a member of the group -->
                    <li ng-show="vm.isInGroup(vm.currentGroup)">
                        <form id="group-invite-form" class="groupInviteForm" ng-submit="vm.inviteUser()">
                            <input id="group-invite-form-input" ng-model="vm.invitationText" list="groupAvailableInvites" class="groupInviteFormInput">
                            <datalist id="groupAvailableInvites">
                                <option ng-repeat="user in vm.currentGroupNonMembers" value="{{user.name}}">
                            </datalist>
                            <input id="group-invite-form-button" type="submit" value="Invite" class="button groupInviteFormButton">
                        </form>
                    </li>
                    <li class="groupMemberListed" ng-repeat="groupMember in vm.currentGroupMembers">
                        {{groupMember.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
